<ng-container *ngIf="(user | async) as loadedUser; else login">
    <button mat-button [matMenuTriggerFor]="menu">
        <img gravatar [email]="loadedUser.uid" [size]="48" [fallback]="'retro'">
    </button>
    <mat-menu #menu="matMenu" fxLayout="column" fxLayoutAlign="center center" fxFlex>
        <div *ngIf="loadedUser.uid;else spinner">
            <h3>Hello,
                <span>{{ loadedUser.displayName }}</span>!</h3>
            <button class="collections" mat-menu-item routerLink="/collections">My collections</button>
            <button mat-raised-button color="warn" (click)="signOut()">Logout</button>
        </div>
        <ng-template #spinner>
            <mat-spinner diameter="40"></mat-spinner>
        </ng-template>
    </mat-menu>
</ng-container>
<ng-template #login>
    <a mat-raised-button color="accent" routerLink="/login">Login</a>
</ng-template>