<mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex>
  <mat-card-header>
    <mat-card-title class="card-title">
      {{ card.title }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="card">
    <app-card-side [cardSide]="card.front" class="front" fxLayout="row" fxLayoutAlign="center center">
    </app-card-side>
    <form [formGroup]="answerInput">
      <mat-form-field>
        <input matInput placeholder="Test" type="text" formControlName="answer" (keyup)="isValid()">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>