<form [formGroup]="firstFormGroup" fxFlex fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="space-between center">
	<mat-horizontal-stepper formArrayName="controls" [linear]="true" #stepper>
		<mat-step *ngFor="let card of cards | async; index as i" [stepControl]="controls?.get([i])" [editable]="false">
			<ng-template matStepLabel>Card {{i+1}}</ng-template>
			<div fxFill fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="center">
				<app-card fxFlex="30" [card]="card" [back]="false"></app-card>
			</div>
			<div fxFlex fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="space-around center">
				<mat-form-field>
					<input matInput placeholder="Your answer" formControlName="{{i}}" required>
				</mat-form-field>
				<button mat-raised-button color="primary" matStepperNext type="button" [disabled]="!controls?.get([i]).valid" (click)="test()">Next</button>
			</div>
		</mat-step>
	</mat-horizontal-stepper>
</form>