<mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex>
  <mat-card-title>{{collection.name}}
    <mat-icon color="primary" title="Public">{{collection.public ? 'public' : 'lock'}}</mat-icon>
  </mat-card-title>
  <mat-card-subtitle>{{collection.author}}</mat-card-subtitle>
  <mat-card-actions *ngIf="collection.id">
    <button mat-icon-button routerLink="/collections/view/{{collection.id}}">
      <mat-icon color="primary" title="View collection">view_module</mat-icon>
    </button>
    <ng-container *ngIf="authService.currentUser">
      <button mat-icon-button *ngIf="authService.uid === collection.authorId" routerLink="/collections/edit/{{collection.id}}">
        <mat-icon color="accent" title="Edit collection">edit</mat-icon>
      </button>
      <button mat-icon-button *ngIf="authService.uid === collection.authorId" (click)="deleteCollection()">
        <mat-icon color="warn" title="Delete collection">delete</mat-icon>
      </button>
    </ng-container>
  </mat-card-actions>
</mat-card>