/* You can add global styles to this file, and also import other style files */

/*Leaving for troubleshooting purposes*/
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

@import './main-theme.scss';

body {
  margin: 0;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.myapp-background-dialog .mat-dialog-container {
  background: #fff3f3;
  width: 25vw;
}

.app-profile-dialog .mat-dialog-content {
  background: #fff3f3;
  width: 25vw;
}

.mat-menu-panel {
	width: 40vw;
	text-align: center;
	padding: 10px 5px;
}